In [1]:
2 + 5

7

In [2]:
a = 2
b = 5
a+b

7

In [3]:
a

2

## Conditions statements
- if 
- elif
- if else
- nested if

In [4]:
5%2

1

In [5]:
50%2

0

In [6]:
55%2

1

In [8]:
a = 100
if a%2==0:
    print("even")
else:
    print("odd")

even

In [13]:
b = 205
if b%2==0:
    print("even")
else:
    print("odd")

odd

In [ ]:
b = 205
if b%2==1:
    print("odd")
else:
    print("even")

In [ ]:
a=input("enter ur name:")
a

In [1]:
input("enter ur name")

enter ur nameramya

'ramya'

In [1]:
input("")

ramya

'ramya'

In [6]:
# TYPE CONVERSION
a = 12
b = 1.2
c = "python"

# integer to float
print(type(a))
f = float(a)
type(f)

<class 'int'>

float

In [3]:
str(a)

'12'

In [5]:
d = "252"
int(d)

252

In [7]:
int(c)

ValueError: invalid literal for int() with base 10: 'python'

In [8]:
a =125
str(a)

'125'

In [9]:
print(type(a))

<class 'int'>

In [11]:
n = input("enter a number:")

enter a number24

In [12]:
n

'24'

In [13]:
print(type(n))

<class 'str'>

In [17]:
n = input("enter a number:")
if n%2==0:
    print("even")
else:
    print("odd")

enter a number:52

TypeError: not all arguments converted during string formatting

In [18]:
n = input("enter a number:")
if int(n)%2==0:
    print("even")
else:
    print("odd")

enter a number:52
even

In [21]:
n = input("enter a number:")
if int(n)%2==0:
    print("even")
else:
    print("odd")

enter a number:25
odd

In [22]:
n = int(input("enter a number:"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number:30
even

In [1]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2 and n1>n3:
    print(n1,"is big number")
elif n2>n1 and n2>n3:
    print(n2,"is big number")
else:
    print(n3,"is big number")

10
5
3
10 is big number

In [2]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2 and n1>n3:
    print(n1,"is big number")
elif n2>n1 and n2>n3:
    print(n2,"is big number")
else:
    print(n3,"is big number")

2
15
10
15 is big number

In [2]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
n4 = int(input())
if n1>n2 and n1>n3 and n1>n4:
    print(n1,"is big number")
elif n2>n1 and n2>n3 and n2>n4:
    print(n2,"is big number")
elif n3>n1 and n3>n2 and n3>n4:
    print(n3,"is big number")
else:
    print(n4,"is big number")

15
21
75
14
75 is big number

In [6]:
# program to print 1 to 10 numbers using for loop
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1,10):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9

In [1]:
for i in range(1,100):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [1]:
for i in range(1,10):
    print(i,end = '@')

1@ 2@ 3@ 4@ 5@ 6@ 7@ 8@ 9@

In [10]:
# 1 to 10 numbers using while loop.
i=1
while i<10:
    print(i,end = ' ')
    i = i+1
    #i += 1

1 2 3 4 5 6 7 8 9

In [7]:
i=1
while i<=80:
    print(i,end = ' ')
    i = i+1
    #i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80

In [4]:
for i in range(11):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9 10