# DAY-1 PYTHON 

## Python Introduction

### Software Installations

#### Anaconda Software

* TITLE OF THE PROJECT
***JOB***
** Designation

In [2]:
# PYTHON PROGRAM ABOUT HELLO WORLD MESSAGE DISPLAY USING PRINT FUNCTION
print("haii")
print("hello")
print("how are you")

haii
hello
how are you

## Python Comments

### Python basics
    print statements
    python keywords
    operator
    condition statement
    loop

# Python Variables

In [6]:
a = 18
ab = 542
abc = 245
print(a)
print(ab)
print(abc)

18
542
245

#invalid variables
 # Naming
#1a =500
#1c = 1000
c1 = 200
c_ = 2525
_c = 5555

# HOW CREATE A STRINGS

In [20]:
s1 = "today is monday"
s12 = 'tomorrow is tuesday'
s2 = 500
s3 = 500.5
print(type(s1))
print(type(s12))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>