# How to Create a String

 ### By using single or double qoutes
 ### By using triple qoutes

In [4]:
s1 = 'python'#used to declare single line strings
s2 = "programming" # used to declare single line strings
s3 = ''' string declaration by
         uing triple 
         qoutes''' # used to declare multi line strings.

In [3]:
print(type(s1))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
How

In [1]:
s = "Hello section C"
len(s) # to print the length of a string

15

 ## Index and Slicing
 
 - Indexing starts from 0
 - Indexing Types: 
   1) Forward indexing starts from 0 to end of the string
   2) backward indexing starts from -1 to beginning of the string

In [13]:
s = "Hello Section C"

s[0]

print(s[-1])
s[14]

s[1:5]

s[-3]

C

'n'

In [15]:
s[6:13]

'Section'

In [18]:
p = "prathyusha"
len(p)

10

In [19]:
p[0:7]

'prathyu'

In [4]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [9]:
# capitalized() --> to change characters from upper to lower
#                   and first character to the upper.
s= 'pyThon ProgRammiNG'
s.capitalize()

'Python programming'

In [ ]:
#count() --> used to count the number of occurances of a character.
s.count('o')

In [14]:
s.count('m')

2

In [11]:
a= 'raMyA pRathyuSHA'
a.capitalize()

'Ramya prathyusha'

In [12]:
a.count('a')

2

In [16]:
s.index('r')

8

In [21]:
print(s.isupper()) # to know the index value of particular character

print(s.islower()) #to check uppercase or not

print(s.isspace()) # to check spaces

False
False
False

In [22]:
s1 = "level"

s1[::-1] #

'level'

In [26]:
s1 = "Ramya"
s2 = "Prathyusha"
s3 = "Chandra laxmi"
s4 = "Pragna"
s5 = "Kusuma"
s6 = "Alekya"

print(s1[::-1])
print(s2[::-1])
print(s3[::-1])
print(s4[::-1])
print(s5[::-1])
print(s6[::-1])

aymaR
ahsuyhtarP
imxal ardnahC
angarP
amusuK
aykelA

In [27]:
# split 
s1 = 'vignan college'
s1.split()

['vignan', 'college']

In [28]:
s2= 'vignan@college@civil#branch'
s2.split('#')

['vignan@college@civil', 'branch']

In [ ]:
# strip(),lstrip(),rstrip()

# Lists

- list is a mutable data structure in python.
- used to store different types of data in a order manner.
- index and slicing same as is strings
- declared by using[]

In [29]:
li = [1,2,'vizag',4.5,"royal civil"]

li[0]  

li[-1]

print(li[-1],li[4])

royal civil royal civil

In [30]:
li[2:4]

['vizag', 4.5]

In [37]:
li = ['apple',123,23,34.6]
print(li)
li.append('section c')
print(li)

['apple', 123, 23, 34.6]
['apple', 123, 23, 34.6, 'section c']

In [34]:
# extend()
li.extend([100,'jupyter'])
print(li)

['apple', '123', 23, 34.6, 'section c', 100, 'jupyter', 100, 'jupyter']

In [38]:
li = [10,20,30,40,50,60]
li2=[]
li2=li.copy()
li2

[10, 20, 30, 40, 50, 60]

In [39]:
li = [10,20,30,40,50,60]
li2=[]
li2=li.copy()
li2
li2.clear()
print(li2)

[]

In [52]:
# deletion operation:
li = [100,300,500,900,1000,5000,10000]
li.remove(100)
li.remove(5000)
print(li)
li.pop()
li.pop()
li.pop()
li.pop()

[300, 500, 900, 1000, 10000]

500

In [54]:
li=[34,21,0,1000]
li.sort()
print(li)

[0, 21, 34, 1000]

In [72]:
li=[5,54,25,"prathyu"]
li.insert(5,'chandu')
li

[5, 54, 25, 'prathyu', 'chandu']

# tuple

In [64]:
t1 = (10,15,21,548,25,21)
t1.count(21)

2

In [65]:
t1.index(21)

2

In [73]:
s={1,2,3,5,2,2,5,}
s

{1, 2, 3, 5}

In [76]:
a= {1,2,3,4,5}
b= {6,7,8,2,4}
    
print(a.union(b))
print(a.intersection(b))
print(b.difference(a))
print(a.difference(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{2, 4}
{8, 6, 7}
{1, 3, 5}